In [1]:
import pandas as pd
import glob
from sqlalchemy import create_engine

In [2]:
diretc = 'D:/Projetos/Python/caRtola/data/01_raw/2023/'
file = 'rodada-*.csv'
nomes_arquivos = glob.glob(diretc + file)

In [3]:
dfs = []
for i in nomes_arquivos:
    df = pd.read_csv(i)
    dfs.append(df)

In [4]:
df_2023 = pd.concat(dfs)

In [5]:
df_2023.shape

(6477, 39)

In [6]:
conn = create_engine('mysql+pymysql://root:Zurique@localhost:3306/cartola?charset=utf8')

In [7]:
df_2023.to_sql(con=conn, name='cartola_2023', if_exists='replace')

6477

In [8]:
teste = pd.read_sql_query('SELECT * FROM cartola_2023')

TypeError: read_sql_query() missing 1 required positional argument: 'con'